
.difficulty {
  margin-top: 50px;
  width: 200px;
  font-size: 30px;
}
.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  font-size: 24px;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: beige;
}
.hint-div {
  margin-bottom: 50px;
}


.game-over {
  font-size: 100px;
  text-align: center;
  margin-left: 10%;
  color: red;
}
.guess-word {
  font-size: 50px;
}
button {
  background-color: lightcoral;
  border: 1px solid black;
  color: black;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: middle;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  border-radius: 10%;
}
button:hover {
  background-color: yellow;
}
.top-row, .mid-row {
  margin-left: 35px;
}
.bot-row {
  margin-left: 65px;
}
.title img {
  width: 180px;
  height: 180px;
  margin-left: 10PX;
  margin-top: 10PX;
}
.hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.display-hint {
  width: 400px;
  line-height: 2;
}
#mid-col {
  margin-top: 30px;
}
.display-hint {
  font-size: 26px;
  margin-left: 25%;
}
.winner {
  font-size: 100px;
  text-align: center;
  
  color: orangered;
}
.hints {
  text-align: center;
}
.column {
  float: left;
  position: relative;
  padding-right: 10px;
}
.whole-page {
  display: none;
  
}

.whole-page::after {
  content: "";
  display: table;
  clear: both;
  
}

.left, .right {
  width: 24%;
}
body {
  height: 100%;
  background-color: skyblue;
}

.mid {
  width: 48%;
}
.guess-word {
  display: flex;
}
.guess-word li {
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}
.hint-div {
  display: flex;
  flex-direction: column;
}
.hint {
  width: 100px;
}
.hint-info {
  text-align: center;
  margin-bottom: 10px;
}
footer {
  font-size: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.github {
  width: 100px;
  height: 50px;
}
.linkedin {
  width: 60px;
  height: 50px;
}
.keyboard-div {
  margin-bottom: 50px;
}
.instructions-desc {
  text-align: center;
  font-size: 24px;
  line-height: 1.5;
}
.lives-text {
  margin-top: 10px;
  background-color: yellow;
  font-size: 20px;
}
#right-col {
  font-size: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 10px;
}
.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lives {
  text-align: center;
}
.scoreboard {
  top: 0;
  right: 0;
  position: absolute;
  margin-right: 50px;
}
.scoreboard h1 {
  border-bottom: 1px solid black;
}
.scoreboard li {
  font-size: 26px;
}
.scoreboard li:nth-child(2){
  background-color: gold;
}
.scoreboard li:nth-child(3){
  background-color: silver;
}
.scoreboard li:nth-child(4){
  background-color: burlywood;
}
.reload {
  width: 200px;
}

.new-score {
  margin-top: 30px;
  font-size: 26px;
}
.crown {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.used {
  opacity: 0.2;
  pointer-events: none;
}
.lives-pic-div img{
  width: 30px;
  height: 30px;
}
.sound-btn {
  width: 100px;
}
.category {
  margin-top: 16px;
  font-size: 26px;
}
.instructions-start {
  text-align: center;
  width: 50%;
}